p{
width: 300px;
border: 5px red;
}

.dotted {border-style: dotted;}

.dashed {border-style: dashed;}

.solid {border-style: solid;}

.double {border-style: double;}

.groove {border-style: groove;}

.ridge {border-style: ridge;}

.inset {border-style: inset;}

.outset {border-style: outset;}

.none {border-style: none;}

.hidden {border-style: hidden;}

.mix {border-style: dotted dashed solid double;}







